---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Hobby">
  <div class="flex justify-between w-full items-start mb-2">
  </div>
  <ul class="text-xs list-disc list-inside">
    <li>アプリ開発</li>
    <li>ゲーム</li>
    <li>釣り</li>
  </ul>
  <p class="text-xs mt-2">
    最近になってピクミン4やってたりします。
  </p>
</Card>
