---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Products">
  <div class="flex flex-col gap-2 mt-4">
    <div class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li>
            <a 
              href="https://worth-it-psi.vercel.app/">
              WorthIt
            </a>
            <Icon
            name="ri:arrow-right-up-line"
            class="h-6 float-right"
            />
        </li>
        <li>Comming soon...</li>
      </ul>
    </div>
  </div>
</Card>
